[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RATest"]
	path = RATest
	url = https://github.com/ignaciomsarmiento/ratest
	shallow = true
	registered = true
